# First Program

print('Hi')

1. Write a program to fetch the item only within range between 50 to 70
lst = [34,67,55,33,12,98]

In [2]:
lst = [34,67,55,33,12,98]
for i in lst:
    if 50<i<70:
        print(i)

67
55

2. Write a program to print only String data type value from the given List

In [14]:
lst1 = ['abc', 100, 10.10, True, 'Babu']
lst2= len(lst1)
for i in range(lst2):
    if ('str' in str(type(lst1[i]))):
        print(lst1[i])

abc
Babu

3. Write a program to replace only String values as none.
lst = ['abc', 100, 10.10, True, 'Babu'] -------> [None, 100, 10.10, True, None]

In [20]:
lst = ['abc', 100, 10.10, True, 'Babu']
lst2= len(lst)
for i in range(lst2):
    if ('str' in str(type(lst[i]))):
        lst[i]='None'
        print(lst[i])
        print(lst)

None
['None', 100, 10.1, True, 'Babu']
None
['None', 100, 10.1, True, 'None']

4. Write a program which accepts a sequence of comma-separated numbers from console and generate a list    and a tuple which contains every number.
	
	input  : 34,67,55,33,12,98
	output : ['34', '67', '55', '33', '12', '98']
		 ('34', '67', '55', '33', '12', '98')

In [58]:
i=[]
i=input()
list(i.split(","))
print(i)
type(i)

33,33
33,33

str

In [59]:
lst = ['abc', 100, 10.10, True, 'Babu']
type(lst)

list